@import url(http://fonts.googleapis.com/css?family=Poiret+One|Arvo|Maven+Pro|Quicksand|Asap);

body{
    background: url('http://7-themes.com/data_images/out/69/7007386-boat-ocean-wallpaper.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 70% 20%;
    width: 100%; height: 100%; margin: 0px; padding: 0px;
    color: white;
}

.main_text{

    color: white;
    /*opacity: 0.6;*/
    text-align: center;
    font-family: 'Quicksand', 'sans-serif';
    font-size: 3em;
}
#header-text, #intro-text, #body-wrapper {
    -webkit-animation-duration: 3s;
}


#custom-genre{
    margin-top: 15px;
    opacity: 0.8;
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: 3px darkslategrey solid;
    border-radius: 5px;
    color: darkslategray;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
#intro-text {
    padding-top: 10px;
    font-size: 18px;
}

#genres-select {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: url('') no-repeat right #ddd;
    border: 1px solid #ccc;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.8;
}

#genres-select:focus{
    opacity: 1.0;
    font-weight: 400;
    outline: 0;
}

#table_head{
    font-size: 18px;
}

#table_head tr{
}

.table_sub_header{
    padding-right: 50px;
    font-size: 25px;
}

.results_row td{
    padding-right: 18px;
    padding-bottom: 10px;
    color: darkslategray;
    opacity: 1.0;
    font-size: 20px;

}

.results_row a{
    color: navy;
    opacity: 0.8;
}

button{

    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:Arial, sans-serif;
    font-size: 15px;
    font-weight:bold;
    padding:5px 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;

}

.results_row button:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
    background-color:#dfdfdf;
}

.results_row button:active{
    position:relative;
    top:1px;
    outline: 0;
    border: 1px gray solid;
}

.results_row{
    opacity: 0.4;
}
.results_row:hover{
    opacity: 1.0;
    cursor: pointer;
    font-weight: bold;
}
#tracks-table {
    color: darkslategray;
    font-family: 'Quicksand', 'sans-serif';
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.table-striped>tbody>tr:nth-of-type(odd){
    background-color: transparent;
}

svg {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#dashboard{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 80%;
    background-color: rgba(0,0,0,0.5);
}

#dashboard h1{
    font-family: 'Quicksand', 'sans-serif';
    font-size: 25px;
    color: white;

}

#dashboard p{
    font-family: 'Quicksand', 'sans-serif';
    font-size: 25px;
    color: white;
}

#dashboard #artwork_img{
    width: 125px;
    height: 125px;
    border: 5px lightblue solid;
    border-radius: 5px;
}

#track-title, #track-likes, #track-comments, #track-link, #track-playbacks{
    color: lightblue;
}

#bottom-column{
    margin-top: 15px;
    font-family: 'Arvo', 'sans-serif';
    text-align: center;
}

#bottom-column h5{
    color: white;
    font-size: 20px;
    opacity: 1.0;
    font-family: 'quicksand', 'sans-serif';
}

#bottom-column #array-length{
    color: lightblue;
}

#bottom-column #add-track-btn{
    border-radius: 20px;
    width: 15%;
    color: darkslategray;
    border: 4px darkslategray solid;
    opacity: 0.8;
}

#bottom-column #add-track-btn:hover{
    opacity: 1.0;
}

#bottom-column #add-track-btn:focus{
    outline: 0;
}