<header>
    <!--<nav class="navbar navbar-default">-->
            <!--<div class="container-fluid">-->
                <!--<div class="branding">-->
                    <!--<a href="/#/">Sail</a>-->
                <!--</div>-->
                <!--<div class="navbar-right">-->
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li><a ng-href="#/explore"><span class="glyphicon glyphicon-search"></span> Explore</a></li>-->
                        <!--<li><a ng-href="#/tracks"><span class="glyphicon glyphicon-music"></span> Tracks</a></li>-->
                        <!--<li ng-click="logOut()"><a ng-href="#/"> <span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
    <!--</nav>-->

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container nav-container">
                <div class="branding">
                    <a href="#">Sail</a>
                </div>
                    <ul class="nav navbar-nav menulist">
                        <li><a ng-href="#/explore"><span class="glyphicon glyphicon-search"></span> Explore</a></li>
                        <li><a ng-href="#/tracks"><span class="glyphicon glyphicon-music"></span> Tracks</a></li>
                        <li ng-click="logOut()"><a ng-href="#/"> <span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
                    </ul>
            </div>
        </div>
    </div>
</header>